<!doctype HTML>
<html lang="pl">
<head>
    <meta charset="utf-8">
	<title>Projekt Izabe</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body style="text-align: center;">
        
    <div class="login-box">
        <img src="img/avatar.png" class="avatar">
        <h1>Zarejestruj się</h1>
            <form action="/" method="post">
            <p>Email</p>
            <input type="text" name="mail" placeholder="Wprowadz adres email">
            <p>Hasło</p>
            <input type="password" name="password" placeholder="Wprowadz hasło">
            <input type="submit" name="submit" value="Zarejestruj">
            
    	  			
            </form>
        
        
        </div>
<div id="message">{{message}}</div>
        
        
</body></html>